
body {
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    color: white;
    background: #22262A

}

h1 {
    margin: 0.2em;
}
.pixel{
    font-size: 85px;
    font-family: 'Amatic SC', cursive;

}
.artMaker{
    font-size: 40px;
    font-family: 'Shadows Into Light', cursive;
}

.darkModeButton{
    width: 5em;
    height: 5em;
}

h2 {
    margin: 1em 0 0.25em;
}

h2 {
    margin-top: 0.3em;
}

table,
tr,
td {
    border: 1px solid white;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 3em;
    background: white;
    color: #22262A;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;

}
input[type=submit] {
    background: white;
    color: #22262A;
    font-family: 'Quicksand', sans-serif;
    cursor: pointer;


}

button{
    background: white;
    color: #22262A;
    font-family: 'Quicksand', sans-serif;
    cursor: pointer;

}

